.banner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
}

#image1 {
    width: 199px;
    height: 202px;
    top: 547px;
    left: 153px;
    background-size: cover;
    object-fit: cover;
    border-radius: 30px;
    margin-right: 25px;
}

#image2 {
    width: 199px;
    height: 132px;
    top: 472px;
    left: 377px;
    background-size: cover;
    object-fit: cover;
    border-radius: 30px;
    margin-right: 25px;
    margin-bottom: 25px;
}

#image3 {
    width: 199px;
    height: 202px;
    top: 629px;
    left: 377px;
    background-size: cover;
    object-fit: cover;
    border-radius: 30px;
    margin-right: 25px;
}

#image4 {
    width: 230px;
    height: 442px;
    top: 427px;
    left: 601px;
    background-size: cover;
    object-fit: cover;
    border-radius: 30px;
    margin-right: 25px;
}

#image5 {
    width: 201px;
    height: 204px;
    top: 463px;
    left: 856px;
    background-size: cover;
    object-fit: cover;
    border-radius: 40px;
    margin-right: 25px;
    margin-bottom: 25px;
}

#image6 {
    width: 201px;
    height: 140px;
    top: 692px;
    left: 856px;
    background-size: cover;
    object-fit: cover;
    border-radius: 35px;
    margin-right: 25px;
}

#image7 {
    width: 204px;
    height: 200px;
    top: 547px;
    left: 1082px;
    background-size: cover;
    object-fit: cover;
    border-radius: 35px;
}