.cartoes-parent {
    margin-top: 100px;
    width: 78rem;
    height: 375px;
}

.cartoes-parent h2 {
    font-weight: 600;
    font-size: 36px;
    text-align: left;
    font-family: 'DM Sans', sans-serif;
}

.cartoes {
    margin-top: 42px;
    display: flex;
    justify-content: center;
    gap: 70px;
}

.cartoes button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.cartoes h3 {
    font-weight: 700;
    font-size: 24px;
    text-align: left;
    font-family: 'DM Sans', sans-serif;
    margin-left: 14px;
}

#alfabeto {
    background-image: url('../img/cards/alfabeto.png');
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

#natureza {
    background-image: url('../img/cards/natureza.png');
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

#brincadeiras {
    background-image: url('../img/cards/brincadeiras.png');
    background-position-y: -7rem;
    background-size: cover;
    overflow: hidden;
}

#portugues {
    background-image: url('../img/cards/portugues.png');
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

#matematica {
    background-image: url('../img/cards/matematica.png');
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

#historia {
    background-image: url('../img/cards/historia.png');
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

#love_to_learn {
    background-image: url('../img/cards/love_to_learn.png');
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

#lapis {
    background-image: url('../img/cards/lapis.png');
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

#criancas {
    background-image: url('../img/cards/criancas.png');
    background-position: center;
    background-size: cover;
    overflow: hidden;
}