.cartoes-parente {
    margin-top: 120px;
    width: 78rem;
    height: 375px;
}

.cartoes-parente h2 {
    font-weight: 600;
    font-size: 36px;
    text-align: left;
    font-family: 'DM Sans', sans-serif;
}

.cartoes1 {
    margin-top: 42px;
    display: flex;
    justify-content: center;
    gap: 70px;
}

.cartoes1 button {
    border: none;
    display: relative;
    background-color: transparent;
    cursor: pointer;
}

.cartoes1 h3 {
    font-weight: 700;
    font-size: 24px;
    text-align: left;
    font-family: 'DM Sans', sans-serif;
    margin-left: 14px;
}

#video1 {
    background-color: #D9D9D9;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

#video2 {
    background-color: #D9D9D9;
    background-position: center;
    background-size: cover;
    overflow: visible;
    width: auto;

}

#video3 {
    background-color: #D9D9D9;
    background-image: url('../img/cards/brincadeiras.png');
    background-position-y: -7rem;
    background-size: cover;
    overflow: hidden;
}

#video4 {
    background-color: #D9D9D9;
    background-image: url('../img/cards/portugues.png');
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

#video5 {
    background-color: #D9D9D9;
    background-image: url('../img/cards/matematica.png');
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

#video6 {
    background-color: #D9D9D9;
    background-image: url('../img/cards/historia.png');
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

#video7 {
    background-color: #D9D9D9;
    background-image: url('../img/cards/love_to_learn.png');
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

#video8 {
    background-color: #D9D9D9;
    background-image: url('../img/cards/lapis.png');
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

#video9 {
    background-color: #D9D9D9;
    background-image: url('../img/banner/bluey.png');
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

#video10 {
    background-color: #D9D9D9;
    background-image: url('../img/banner/bluey.png');
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

#video11 {
    background-color: #D9D9D9;
    background-image: url('../img/banner/bluey.png');
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

#video12 {
    background-color: #D9D9D9;
    background-image: url('../img/banner/bluey.png');
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

#play {
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: 89px;
}