.product {
  display: flex;
  min-width: 1000px;
  align-items: center;  
  overflow: hidden;
}

.product-container {
  position: absolute;
  top: 1650px;
  left: 156.25px;
  flex: 0 0 auto;
  width: 1128px;
  height: 330px;
  display: flex;
  gap: 60px; 
  scroll-behavior: smooth;
}

 .product-conteiner::-webkit-scrollbar{
  display: none;
}

.product-card {
  width: 200px;
  height: 330px;
}

.product-image {
  width: 100%;
  height: 330px;
  overflow: hidden;
}

.product-info{
  width: 200px;
  height: 330px;
  padding-top: 20px;
  color: #FFFFFF;
  text-align: center;
  white-space: nowrap;
  
}


.product-short-description{
  width: 125px;
  height: 48px;
  font-family: 'DM Sans', sans-serif;
  size: 16px;
  display: flex;
  text-align: center;
  margin-left: 37px; 
}


.product-short-description1{
  width: 125px;
  height: 48px;
  font-family: 'DM Sans', sans-serif;
  size: 16px;
  display: flex;
  text-align: center;
  
}

.pre-bnt, .nxt-bnt {
  border: none;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #704EEA;
  cursor: pointer;
  z-index: 9;
  margin-top: 91px;
}

.pre-bnt {
  left: 166.25px;
}


.nxt-bnt {
  left: 1000x;
}

/* .nxt-bnt{
  left: 1274.25px;
} */

.collection-conteiner{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.collection{
  position: relative;
}

.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #FFFFFF;
  font-size: 50px;
  text-transform: capitalize;
}

.collection:nth-child(3){
  grid-column: span 2;
  margin-bottom: 10px;
}

