.navbar {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 999;
}

.logo {
    margin-left: 170px;
}

.box {
    width: 449px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #704EEA;
    border-radius: 100px;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    margin-bottom: 100px;
}

.nav-parent {
    margin-right: 170px;
    width: 449px;
    display: flex;
    flex-direction: column;
    height: 60px;
    position: relative;
}

.nav-links {
    display: flex;
    column-gap: 1.5rem;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    letter-spacing: 1.5px;
    font-weight: 500;
}

.nav-links a:hover {
    font-weight: bold;
}

.selector {
    position: absolute;
    z-index: 999;
    top: 43px;
    left: 0px;
}

.active li {
    font-weight: bold;
}