.cartoes-parent {
    margin-top: 100px;
    width: 68rem;
    
}

.cartoes{
    display: flex;
    justify-content: center; 
    align-items: center;            
    width: 100%;                    
    padding: 20px;                  
}

.cartoes button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.retangulo-img{
    display: flex;
    justify-content: space-around; 
    align-items: center;            
    width: 100%;                    
    padding: 20px;                  
}

.retangle {
    width: 360px;
    height: 400px;
    border-radius: 50px;
    background: #704EEA;
    margin: 0 10px;
    font-family: 'DM Sans', sans-serif;
    color: #FFFDF2;
    display: flex;               
    justify-content: center;    
    align-items:end;         
    text-align: left;          
    padding: 80px;     
    padding-right: 70%;
    white-space: nowrap;
}

.retangle2{
    width: 360px;
    height: 400px;
    border-radius: 50px;
    background: #704EEA;
    margin: 0 10px;
    font-family: 'DM Sans', sans-serif;
    color: #FFFDF2;
    display: flex;               
    justify-content: center;    
    align-items:end;                  
    padding: 80px;     
    padding-right: 70%;
    white-space: nowrap;
}

#retangle-text{
    width: 10;
}

#retangle-text2{
    width: 10;
    padding-left: 10px;
}

.retangle h3{
    width: 39px;
    height: 32px;
    margin-top: -120px; 
    line-height: 1.5;
}

.full-screen-rectangle {           
    top: 400px;                    
    left: 0.25px;                    
    width: 100%;              
    height:730px;             
    background-color: #704EEA;  
    z-index: -999;                
}

.retangle-plataforma-videos {            
    top: 400px;                    
    left: 0.25px;                    
    width: 1160px;              
    height: 611px;             
    background-color: #FFD25B;  
    border-radius: 50px;
    z-index: -1;
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
}

.retangle-jogos {            
    top: 400px;                    
    left: 0.25px;                    
    width: 1160px;              
    height: 611px;             
    background-color: #E924AE;  
    border-radius: 50px;
    z-index: -1;
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
}

#livros {
    background-image: url('cards/livros.svg');
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

#prof-e-aluno {
    background-image: url('cards/prof-e-aluno.svg');
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

#lapis {
    background-image: url('cards/lapis.svg');
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

#giz-de-cera {
    background-image: url('cards/giz-de-cera.svg');
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

#alunos-e-prof{
    background-image: url('cards/alunos-e-prof.svg');
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

#computador {
    background-image: url('cards/computador.svg');
    background-position: center;
    background-size: cover;
    overflow: hidden;
}