#cross1 {
    position: absolute;
    top: -50px;
    left: 13px;
}

#cross2 {
    top: 350px;
    right: 165px;
    position: absolute;
}

#circle1 {
    top: 284px;
    left: 0px;
    position: absolute;
}

#circle2 {
    position: absolute;
    top: 20px;
    right: 165px;
}

#star1 {
    position: absolute;
    top: 74px;
    left: 106px;
}

#star2 {
    position: absolute;
    top: 160px;
    right: 0px;
}

#star3 {
    position: absolute;
    top: -680px;
    left: 0px;
}

#star4 {
    position: absolute;
    top: -500px;
    left: 1301.26px;
}

.vector1 {
    position: absolute;
    right: 10px;
}


